[Unit]
Description=Service to startup the magic wand node_js server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/repos/ecen5783_project/server_pi
ExecStart=/usr/bin/node /home/pi/repos/ecen5783_project/server_pi/node_js/wand_node_server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target